{% extends 'base.html.j2' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
<div class = "row">
    <div class="span6" style="float: none; margin: 0 auto;">
    <h1>Welcome to PokéMaster</h1>
    <br>
    <h4>Build a team of Pokémon and battle other users!</h4>
    </div>
</div>
{% endblock %}