{% extends 'base.html.j2' %}
{% block title %}
Catch Pokémon
{% endblock %}

{% block content %}
    <h1>Choose your PokéTeam!</h1>
    <h3>Search for the Pokémon you would like to add to your team.</h3>
    <form action="{{url_for('main.pokemon')}}" method="POST">
        <div class="textbox_button">
        {{form.hidden_tag()}}

            <div class="mb-3">
                {{form.name.label(class="form-label")}}
                {{form.name(class="form-control w-25")}}

                {% for error in form.name.errors %}
                    <small style="color:red"></small>{{error}}</div>

                {% endfor %}

            </div>

            <div>
            {{form.submit(class="btn btn-dark form-control w-25 mb-3")}}
            </div>
        </div>
    </form>

{% if pokemons %}

{% for poke in pokemons %}
    <div class="card" style="width: 20rem; display: inline-block; width: 20%">
        <div class="for_image">
            <img src="{{poke.sprite}}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h4 class="card-title text-center">{{poke.name}}</h4>
        </div>
        <table class="table table-borderless" style="text-align: right; width: 75%; margin:0px auto;">
            <tbody>
            <tr>
                <td scope="col">Experience</td>
                <td>{{poke.base_experience}}</td>
            </tr>
            <tr>
                <td scope="col">Ability</td>
                <td>{{poke.ability_name}}</td>
            </tr>
            <tr>
                <td scope="col">Attack</td>
                <td>{{poke.attack_base}}</td>
            </tr>
            <tr>
                <td scope="col">HP</td>
                <td>{{poke.hp_base}}</td>
            </tr>
            <tr>
                <td scope="col">Defense</td>
                <td>{{poke.defense_base}}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endfor %}
{% endif %}
</div>
{% endblock %}